.work-experience-content {
  margin-top: 1em;
  display: grid;
  grid-template-columns: max-content 1fr;
}

.work-experience-item {
  display: flex;
  display: contents;
}

.work-experience-item p {
  margin: 0;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: 2em; */
  padding-right: 2em;
  color: var(--green);
  font-style: italic;
  font-size: 0.6em;
  padding-top: 0.4em;
  /* width: fit-content; */
}

.timeline p {
  white-space: nowrap;
}

.timeline-line {
  height: 100%;
  margin: 0.6em 0;
  width: 1px;
  background-color: var(--green);
}

.description {
  margin-bottom: 1.2em;
}

.description h3 {
  font-weight: bold;
  font-size: 1.15em;
  margin-bottom: 0.4em;
}

.image {
  width: 32vw;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .section-content {
    flex-direction: column;
  }

  .image {
    margin-top: 32px;
    width: 66vw;
  }
}