#navigation {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 4vw;
  display: flex;
  justify-content: flex-end;
  background-color: var(--dark);
  box-shadow: 2px 2px 24px var(--dark);
  border-radius: 0 0 0.4rem 0.4rem;
  z-index: 1000;
}

.nav-container {
  display: flex;
  width: fit-content;
  border: 1px solid var(--light);
  border-top: none;
  border-radius: 0 0 0.3rem 0.3rem;
  overflow: hidden;
}

.nav-item {
  width: fit-content;
  border-right: 1px solid var(--light);
}

.nav-item button {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  font-size: 0.666em;
}

.nav-item button:hover {
  color: var(--pink);
}

.active {
  color: var(--green);
}

.nav-item:last-child {
  border: none;
}

.nav-item svg {
  margin: 0;
  height: 1.2em;
  width: auto;
}

.button-text {
  margin-left: 8px;
  /* display: none; */
}

/* button:hover .button-text, button.active .button-text {
  display: block;
} */

/* .nav-button {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 40px;
  transition: width 1s;
  white-space: nowrap;
}

.nav-button:hover,
.nav-button.active {
  width: 200px;
}

.button-text {
  margin-left: 8px;
  opacity: 0;
  transition: opacity 0.3s; 
}

.nav-button:hover .button-text,
.nav-button.active .button-text {
  opacity: 1;
} */
