:root {
  --dark: #000;
  --light: #fff;
  --pink: #FF54C0;
  --green: #3EED6F;
  --blue: #54ACFF;
  --gray: #232323;
}

body, html {
  margin: 0;
  background-color: var(--dark);
  color: var(--light);
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.15em;
  cursor: none;
  box-sizing: border-box;
}

h1, h2, h3 { font-weight: normal; margin: 0; }
ul { margin: 0; padding: 0; list-style-type: none; }
a { color: var(--light); text-decoration: none; cursor: none; transition: 0.2s; }
a:hover { color: var(--pink); }

button {
  background-color: var(--dark);
  color: var(--light);
  border: none;
  font-family: inherit;
  cursor: none;
  transition: 0.2s;
}

.BLACKOUT { font-family: 'BLACKOUT', sans-serif; }
.smallText { font-size: 0.8em; }
.smallerText { font-size: 0.56em; }
.green { color: var(--green); }
.blue { color: var(--blue); }
.pink { color: var(--pink); }
.bold { font-weight: bold; }

@font-face {
  font-family: 'BLACKOUT';
  src: url('../public/BLACKOUT.TTF') format('truetype');
}

main { padding: 0 6vw; }
h1 { font-size: 6em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }

#titleScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.content {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.btnCircle {
  opacity: 0.5;
  color: var(--light);
  display: flex;
  width: 8vw;
  height: 40px;
  border-radius: 1em;
  border: none;
  background-color: #313131;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
  transition: 0.2s;
  cursor: none;
}

.btnCircle:hover {opacity: 0.85;}

.btnCircle svg {
  margin: 0;
  font-size: x-large;
}

.swag.active {
  background: linear-gradient(
      45deg, #FF5454, #FF8D54, #FFF154, #54FF84, #54ACFF,
      #B454FF, #FF54C0, #FF5454
  );
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 5s linear infinite;
}

@keyframes shine {
  to {
      background-position: 200% center;
  }
}

#projects { padding-top: 6vh; margin-bottom: 16vh; }

#projectContainer {
  /*height: 100vh;*/
  grid-gap: 12px;
  grid-template-areas:
    "area-1 area-1 area-1 area-2 area-2 area-3 area-3 area-4 area-4"
    "area-1 area-1 area-1 area-2 area-2 area-3 area-3 area-4 area-4"
    "area-1 area-1 area-1 area-2 area-2 area-5 area-6 area-6 area-6"
    "area-7 area-7 area-8 area-2 area-2 area-5 area-6 area-6 area-6"
    "area-7 area-7 area-11 area-11 area-11 area-9 area-9 area-10 area-10"
    "area-7 area-7 area-11 area-11 area-11 area-9 area-9 area-10 area-10"
    "area-7 area-7 area-11 area-11 area-11 area-12 area-12 area-10 area-10";
  grid-template-rows: repeat(7, minmax(12vh, auto));
  margin: 0 auto;
  display: grid;
}

#origo { grid-area: area-1; }
#idaginatt { grid-area: area-2; }
#yotei { grid-area: area-7; }
/* #discogs { grid-area: area-3; } */
#key_value_store { grid-area: area-4; }
#empty-2 { grid-area: area-5; }
#forgetmenot { grid-area: area-6; }
#eli { grid-area: area-3; }
#empty-4 { grid-area: area-8; }
#handwritten_digits { grid-area: area-9; }
#brainfunc_beats { grid-area: area-10; }
#tuneblr { grid-area: area-11; }
#empty-7 { grid-area: area-12; }

.projectPage {
  display: flex;
  flex-direction: column;
}

.projectSummary {
  /*height: 100vh;*/
  /*flex: 0 0 auto;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3vh 0;
}

.projectSummary img {
  height: auto;
  width: 37vw;
  margin-left: 6vw;
}

.projectSummaryContent {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.projectContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 30vh;
}

/* .projectSummaryContent img {
  height: auto;
  width: 37vw;
} */

.projectDescription {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* .projectDescription img {
  height: auto;
  width: 34vw;
  margin-right: 6vw;
} */

.descriptionImage {
  margin-right: 6vw;
}

.resultsImage {
  margin-left: 6vw;
}

.descriptionImage img, .resultsImage img {
  height: auto;
  width: 34vw;
}

.posters { margin-top: 26vh; }
.posters img {
  height: auto;
  width: 17vw;
}

.posterContainer {
  display: flex;
  justify-content: space-between;
}

.instagramPosts { margin-top: 26vh; }
.instagramPosts img {
  height: auto;
  width: 20vw;
}

.pacmantetris { margin-top: 26vh; }
.pacmantetris img {
  height: 20vh;
  width: auto;
}

.mobilePrototypes { margin-top: 20vh; }
.mobilePrototypes div { width: 20vw; }

.mobilePrototypes img {
  height: 58vh;
  width: auto;
}

.desktops {
  display: flex;
  justify-content: space-between;
  margin-top: 16vh;
}

.desktops img {
  width: 40vw;
  height: auto;
}

.forgetmenotImages {
  margin-top: 26vh;
  padding: 0 4vw;
}

.forgetmenotImages img { height: auto; width: 36vw; }

#education { padding-top: 16vh; margin-bottom: 32vh; }

.educationContent {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.imageDiv {
  position: relative;
  top: 0;
  left: 0;
}

.topImage {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  width: 34vw;
  margin-right: 6vw;
}

.hiddenImage {
  position: absolute;
  top: calc(5%);
  left: calc(10.7%);
  height: auto;
  width: 15.5vw;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.visible { opacity: 1; }

footer {
  border-top: 1px solid var(--light);
  padding: 20px 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkList { display: flex; }
.linkList li { margin-left: 2vw;}
svg { margin-right: 12px; }

.custom-cursor {
  position: fixed;
  pointer-events: none; /* Ensure the cursor doesn't interfere with mouse events */
  z-index: 9999; /* Ensure the cursor stays on top of other elements */
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}

.custom-cursor img { height: 26px; width: auto; }

@media screen and (max-width: 750px) {
  body, html {
    font-size: 16px;
  }

  #projectContainer {
    grid-gap: 16px;
    grid-template-areas:
      "area-1" /*origo*/
      "area-1" 
      "area-2" /*idaginatt*/
      "area-2"
      "area-3" /*discogs*/
      "area-4" 
      /* "area-5" */
      "area-6" /*forgetmenot*/
      "area-7" /*eli*/
      "area-7"
      /* "area-8"  */
      "area-9" /*digits*/
      "area-10" 
      "area-10"
      "area-11" /*tuneblr*/
      "area-11";
      /* "area-12"; */
    grid-template-rows: repeat(14, minmax(30vh, auto));
    margin: 0 auto;
    display: grid;
  }

  .btnCircle {width: 80px;}
  #projects {margin-bottom: 20vh;}
  #education {margin-bottom: 20vh;}

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .linkList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .linkList li {
    padding: 16px 0;
  }

  footer .logo { margin: 20px 0;}

  .projectSummaryContent {
    display: flex;
    flex-direction: column;
    margin-top: 16vh;
    height: fit-content;
  }

  .projectSummaryContent img {
    height: auto;
    width: 80vw;
    margin: 34px 0;
  }

  .projectDescription {flex-direction: column-reverse;}
  .descriptionText {margin-bottom: 34px;}
  .projectDescription img {
    height: auto;
    width: 70vw;
    margin: 0;
  }

  /*.descriptionImage {display: flex; flex-direction: column; align-items: center;}*/
  .projectContent {margin-bottom: 80px; margin-top: 20px;}
  
  .posterContainer, .desktops {flex-direction: column; align-items: center;}
  .posters {margin-top: 60px;}

  .posters img {
    height: auto;
    width: 70vw;
    margin-bottom: 40px;
  }

  .instagramPosts, .pacmantetris {margin-top: 60px;}

  .instagramPosts img {
    height: auto;
    width: 70vw;
    margin-bottom: 40px;
  }

  .desktops {margin: 0;}
  .desktops img {
    margin-top: 60px;
    height: auto;
    width: 80vw;
  }

  .pacmantetris img {
    height: auto;
    width: 40vw;
    margin-bottom: 40px;
  }

  .mobilePrototypes {margin-top: 60px;}
  .mobilePrototypes div {width: auto; margin-bottom: 60px;}
  .mobilePrototypes img {
    height: auto;
    width: 56vw;
  }

  .forgetmenotImages {margin-top: 60px; padding: 0;}
  .forgetmenotImages div:nth-child(1) {margin-bottom: 60px;}
  .forgetmenotImages img {height: auto; width: 70vw;}

  .educationContent {flex-direction: column-reverse;}
  .imageDiv {margin-top: 40px;}
  .topImage {
    height: auto;
    width: 70vw;
  }
  .hiddenImage {
    top: calc(5%);
    left: calc(12%);
    height: auto;
    width: 32vw;
  }
}