:root {
  --dark: #000;
  --light: #fff;
  --pink: #FF54C0;
  --green: #3EED6F;
  --blue: #54ACFF;
  --gray: #2a2a2a;
}

body, html {
  margin: 0;
  background-color: var(--dark);
  color: var(--light);
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  cursor: none;
}

h1, h2, h3 {font-weight: normal; margin: 0;}
ul { margin: 0; padding: 0; list-style-type: none; }
a { color: var(--light); text-decoration: none; cursor: none; transition: 0.2s;}
a:hover { color: var(--pink)}

.BLACKOUT { font-family: 'BLACKOUT', sans-serif; }
.smallText { font-size: 16px; }
.smallerText {font-size: 12px;}
.green { color: var(--green); }
.blue { color: var(--blue); }
.pink { color: var(--pink); }
.bold { font-weight: bold; }

@font-face {
  font-family: 'BLACKOUT';
  src: url('../public/BLACKOUT.TTF') format('truetype');
}

main { padding: 0 6vw; }
h1 { font-size: 120px; }
h2 { font-size: 60px; }
h3 { font-size: 34px; }

#titleScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.content {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.btnCircle {
  opacity: 0.5;
  display: flex;
  width: 8vw;
  height: 40px;
  border-radius: 1em;
  background-color: #313131;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
  transition: 0.2s;
}

.btnCircle:hover {opacity: 0.85;}

.btnCircle svg {
  margin: 0;
  font-size: x-large;
}

.swag.active {
  background: linear-gradient(
      45deg, #FF5454, #FF8D54, #FFF154, #54FF84, #54ACFF,
      #B454FF, #FF54C0, #FF5454
  );
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 5s linear infinite;
}

@keyframes shine {
  to {
      background-position: 200% center;
  }
}

#projects { padding-top: 6vh; margin-bottom: 32vh; }

#projectContainer {
  /*height: 100vh;*/
  grid-gap: 12px;
  grid-template-areas:
    "area-1 area-1 area-1 area-2 area-2 area-3 area-3 area-3 area-4" 
    "area-1 area-1 area-1 area-2 area-2 area-3 area-3 area-3 area-4" 
    "area-1 area-1 area-1 area-2 area-2 area-5 area-6 area-6 area-6"
    "area-7 area-7 area-8 area-2 area-2 area-5 area-6 area-6 area-6"
    "area-7 area-7 area-11 area-11 area-11 area-9 area-9 area-10 area-10"
    "area-7 area-7 area-11 area-11 area-11 area-9 area-9 area-10 area-10"
    "area-7 area-7 area-11 area-11 area-11 area-12 area-12 area-10 area-10";
  grid-template-rows: repeat(7, minmax(12vh, auto));
  margin: 0 auto;
  display: grid;
}

.overlay {
  position: relative;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  border-radius: 0.2rem;
  transition: 0.3s;
}

.overlay:hover::after {
  background-color: rgba(0, 0, 0, 0.7);
}

.projectItem {
  border-radius: 0.3rem;
  position: relative;
  overflow: hidden;
}

.projectItem div {
  position: relative;
  width: 100%;
  height: 100%;
}

.projectItem img {
  border-radius: 0.3rem;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.bubbles {
  position: absolute;
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.projectItem p {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  color: var(--light);
  z-index: 2;
  padding: 12px 16px;
  transition: opacity 0.3s;
}

.projectItem:hover p {opacity: 1;}
.projectTitle {font-size: 24px;}
.emptyProjectItem {border: none; background-color: var(--gray);}
.emptyProjectItem:hover {background-color: #1d1d1d;}

.projectTags {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 16px;
  z-index: 2;
  padding: 0;
  transition: opacity 0.3s;
  color: var(--light);
}

.projectItem:hover .projectTags { opacity: 1; color: var(--light); }

.projectTags li {
  background-color: var(--gray);
  border-radius: 10px;
  border: 1px solid #565656;
  padding: 4px 8px;
  margin-right: 0.6vw;
  margin-bottom: 8px;
}

#origo {grid-area: area-1;}
#idaginatt {grid-area: area-2;}
#discogs {grid-area: area-3;}
#empty-1 { grid-area: area-4;}
#empty-2 { grid-area: area-5;}
#forgetmenot { grid-area: area-6;}
#eli {grid-area: area-7;}
#empty-4 { grid-area: area-8;}
#handwritten_digits { grid-area: area-9;}
#empty-6 { grid-area: area-10;}
#tuneblr {grid-area: area-11;}
#empty-7 { grid-area: area-12;}

.projectPage {
  display: flex;
  flex-direction: column;
}

.projectSummary {
  /*height: 100vh;*/
  /*flex: 0 0 auto;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3vh 0;
}

.projectSummary img {
  height: 60vh;
  width: auto;
  margin-left: 6vw;
}

.projectSummaryContent {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

table {
  margin-top: 4vh;
  background-color: var(--gray);
  border-radius: 0.3rem;
}
th {text-align: left; padding-top: 24px; padding-bottom: 18px; padding-left: 20px;}
th, td {width: 11vw;}
td {vertical-align: top; padding: 24px 20px;}
.rowBorder th {box-shadow: 0px 17px 0px -16px var(--light);}

.projectContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 30vh;
}

.projectSummaryContent img {
  height: auto;
  width: 37vw;
}

.projectDescription {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.projectDescription img {
  height: auto;
  width: 34vw;
  margin-right: 6vw;
}

.posters {margin-top: 26vh;}
.posters img {
  height: auto;
  width: 17vw;
}

.posterContainer {
  display: flex;
  justify-content: space-between;
}

.instagramPosts {margin-top: 26vh;}
.instagramPosts img {
  height: auto;
  width: 20vw;
}

.pacmantetris {margin-top: 26vh;}
.pacmantetris img {
  height: 20vh;
  width: auto;
}

.mobilePrototypes {margin-top: 20vh;}
.mobilePrototypes div {width: 20vw;}

.mobilePrototypes img {
  height: 58vh;
  width: auto;
}

.desktops {
  display: flex;
  justify-content: space-between;
  margin-top: 26vh;
}

.desktops img {
  width: 40vw;
  height: auto;
}

.forgetmenotImages {
  margin-top: 26vh;
  padding: 0 4vw;
}

.forgetmenotImages img {height: auto; width: 36vw;}

#education {margin-bottom: 32vh;}

.educationContent {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.imageDiv {
  position: relative;
  top: 0;
  left: 0;
}
.topImage {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  width: 34vw;
  margin-right: 6vw;
}
.hiddenImage {
  position: absolute;
  top: calc(5%);
  left: calc(10.7%);
  height: auto;
  width: 15.5vw;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.visible {opacity: 1;}

footer {
  border-top: 1px solid var(--light);
  padding: 20px 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkList { display: flex; }
.linkList li { margin-left: 2vw;}
svg { margin-right: 8px;}

.custom-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a0a0a0;
  opacity: 0.3;
  pointer-events: none; /* Ensure the cursor doesn't interfere with mouse events */
  z-index: 9999; /* Ensure the cursor stays on top of other elements */
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}

@media screen and (max-width: 750px) {
  body, html {
    font-size: 16px;
  }

  #projectContainer {
    grid-gap: 16px;
    grid-template-areas:
      "area-1" /*origo*/
      "area-1" 
      "area-2" /*idaginatt*/
      "area-2"
      "area-3" /*discogs*/
      /* "area-4" 
      "area-5"  */
      "area-6" /*forgetmenot*/
      "area-7" /*eli*/
      "area-7"
      /* "area-8"  */
      "area-9" /*digits*/
      /* "area-10" 
      "area-10" */
      "area-11" /*tuneblr*/
      "area-11";
      /* "area-12"; */
    grid-template-rows: repeat(11, minmax(30vh, auto));
    margin: 0 auto;
    display: grid;
  }

  .btnCircle {width: 80px;}
  .emptyProjectItem { display: none; }
  #projects {margin-bottom: 20vh;}
  #education {margin-bottom: 20vh;}
  .overlay::after {background-color: rgba(0, 0, 0, 0.7);}
  .projectItem p {opacity: 1;}
  .projectTags {opacity: 1;}
  .projectItem {border: 1px solid var(--light);}

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .linkList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .linkList li {
    padding: 16px 0;
  }

  footer .logo { margin: 20px 0;}

  .projectSummaryContent {
    display: flex;
    flex-direction: column;
    margin-top: 16vh;
    height: fit-content;
  }

  .projectSummaryContent img {
    height: auto;
    width: 70vw;
    margin: 34px 0;
  }

  .projectDescription {flex-direction: column-reverse;}
  .descriptionText {margin-bottom: 34px;}
  .projectDescription img {
    height: auto;
    width: 70vw;
  }

  .projectContent {margin-bottom: 80px; margin-top: 60px;}
  .titleTable {display: flex; flex-direction: column;}
  th {font-size: 14px;}
  td {font-size: 14px;}
  .posterContainer, .desktops {flex-direction: column; align-items: center;}
  .posters {margin-top: 60px;}

  .posters img {
    height: auto;
    width: 70vw;
    margin-bottom: 40px;
  }

  .instagramPosts, .pacmantetris {margin-top: 60px;}

  .instagramPosts img {
    height: auto;
    width: 70vw;
    margin-bottom: 40px;
  }

  .desktops {margin: 0;}
  .desktops img {
    margin-top: 60px;
    height: auto;
    width: 80vw;
  }

  .pacmantetris img {
    height: auto;
    width: 40vw;
    margin-bottom: 40px;
  }

  .mobilePrototypes {margin-top: 60px;}
  .mobilePrototypes div {width: auto; margin-bottom: 60px;}
  .mobilePrototypes img {
    height: auto;
    width: 56vw;
  }

  .forgetmenotImages {margin-top: 60px; padding: 0;}
  .forgetmenotImages div:nth-child(1) {margin-bottom: 60px;}
  .forgetmenotImages img {height: auto; width: 70vw;}

  .educationContent {flex-direction: column-reverse;}
  .imageDiv {margin-top: 40px;}
  .topImage {
    height: auto;
    width: 70vw;
  }
  .hiddenImage {
    top: calc(5%);
    left: calc(12%);
    height: auto;
    width: 32vw;
  }
}